mixin pagination()
  -
    const BASE_CLASS = 'pagination';

  aside(class =BASE_CLASS aria-label = "pagination")
    a(class = `${BASE_CLASS}__previous` href = "https://change-me")
    a(class = `${BASE_CLASS}__link` href = "https://change-me") 1
    span(class = `${BASE_CLASS}__hidden-link`) ...
    a(class = `${BASE_CLASS}__link` href = "https://change-me") 9
    a(class = `${BASE_CLASS}__link` href = "https://change-me") 10
    a(class = `${BASE_CLASS}__link` href = "https://change-me") 11
    span(class = `${BASE_CLASS}__hidden-link`) ...
    a(class = `${BASE_CLASS}__link` href = "https://change-me") 15
    a(class = `${BASE_CLASS}__next` href = "https://change-me")
