mixin pagination()
  -
    const BASE_CLASS = 'pagination'

  aside(class =BASE_CLASS aria-label = "pagination")
    a(class = `${BASE_CLASS}__previous` href = "https://test/test")
    a(class = `${BASE_CLASS}__link` href = "https://test/test") 1
    span(class = `${BASE_CLASS}__hidden-link`) ...
    a(class = `${BASE_CLASS}__link` href = "https://test/test") 9
    a(class = `${BASE_CLASS}__link` href = "https://test/test") 10
    a(class = `${BASE_CLASS}__link` href = "https://test/test") 11
    span(class = `${BASE_CLASS}__hidden-link`) ...
    a(class = `${BASE_CLASS}__link` href = "https://test/test") 15
    a(class = `${BASE_CLASS}__next` href = "https://test/test")
