extends ../layout-with-panel/layout-with-panel.pug
include ../../components/date/date.pug
include ../../components/post/post.pug

block title 
  title Страница поста
block main
  - const POST_CLASS = 'post';
  main(class = POST_CLASS)
    header(class = `${POST_CLASS}__header`)
      +date({date:'24.05.2022' })
      div(class = `${POST_CLASS}__tags`)
        span(class = `${POST_CLASS}__tags-title`) Теги: 
        ul(class = `${POST_CLASS}__tags-list`)
          - for(let i=1; i<4; i++){
            li(class = `${POST_CLASS}__tag-item`)
              a(class = `${POST_CLASS}__tag-link` href="https://change-me")= `тег_${i}`
          - }
      h1(class = `${POST_CLASS}__title`) Настраиваем webpack для frontend разработки Настраиваем webpack для frontend разработки
    +post()

