mixin tags(options = {})
  -
    const {
      hasHeader = true,
      hasBorder = true,
      items = 100,
    } = options;

    let length = 1;

    const BASE_CLASS = 'tags';
    const borderModifier = hasBorder? `${BASE_CLASS}__frame_has-border`: '';

  dl(class = `${BASE_CLASS} js-${BASE_CLASS}`)
    if hasHeader
      dt(class = `${BASE_CLASS}__header`)
        span(class = `${BASE_CLASS}__label`) Теги
        span(class = `${BASE_CLASS}__amount`)= items

    dd(class = `${BASE_CLASS}__frame js-${BASE_CLASS}__frame ${borderModifier}`) 
      ul(class = `${BASE_CLASS}__list js-${BASE_CLASS}__list`) 
        while length <= items
          li(class = `${BASE_CLASS}__item`)
            a(class = `${BASE_CLASS}__item-link` href = "https://change-me")= `Тег#${length++}`
            
      div(class = `${BASE_CLASS}__scrollbar`)
        button(class = `${BASE_CLASS}__scrollbar-button-up js-${BASE_CLASS}__scrollbar-button-up` tabindex = -1)
        div(class = `${BASE_CLASS}__scrollbar-track js-${BASE_CLASS}__scrollbar-track`)
          div(class = `${BASE_CLASS}__scrollbar-slider js-${BASE_CLASS}__scrollbar-slider`)
        button(class = `${BASE_CLASS}__scrollbar-button-down js-${BASE_CLASS}__scrollbar-button-down` tabindex = -1)


