mixin tags(options = {})
  -

    const className = 'tags'
  div(class = `${className}-wrapper`)
    div(class = `${className}__scrollbar`)
      div(class = `${className}__scrollbar-button ${className}__scrollbar-button_up`)
      div(class = `${className}__scrollbar-track`)
        div(class = `${className}__scrollbar-thumb`)
      div(class = `${className}__scrollbar-button ${className}__scrollbar-button_down`)
    span(class = `${className}-header`) Теги
    div(class = `${className}-list`) 
      ul(class = className) 
        -let n = 1
        while n < 60
          li(class = `${className}__item`)
            a(class = `${className}__item-link` href = 'http://www.frontendx.ru')= `Тег#${n++}`


