mixin categories(options = {})
  -
    const {
      categories
    } = options;

    const link = 'https://change-me';
    const BASE_CLASS = 'categories';

  ul(class = BASE_CLASS) 
    each item in categories
      li(class = `${BASE_CLASS}__category`)
        a(class = `${BASE_CLASS}__articles-link` href = link)
          span(class = `${BASE_CLASS}__name`)= item.category
          span(class = `${BASE_CLASS}__amount`)= item.total
          
        each subitem in item.subcategories
          ul(class = `${BASE_CLASS}__subcategories`)
            li(class = `${BASE_CLASS}__item`)
              a(class = `${BASE_CLASS}__articles-link` href = link)
                span(class = `${BASE_CLASS}__name`)= subitem.category
                span(class = `${BASE_CLASS}__amount`)= subitem.total

