mixin categories(options = {})
  -
    const {
      years
    } = options

    const link = 'http://www.frontendx.ru'

    const BASE_CLASS = 'categories'
  ul(class = BASE_CLASS) Категории
    each year, index in years
      li(class = `${BASE_CLASS}__year`)
        a(class = `${BASE_CLASS}__articles-link` href = link tabindex = '0')
          span(class = `${BASE_CLASS}__text-name`)= index
          span(class = `${BASE_CLASS}__text-amount`)= year.total
        ul(class = `${BASE_CLASS}__months`)
          each month, index in year
            if index !='total'
              li(class = `${BASE_CLASS}__month`)
                a(class = `${BASE_CLASS}__articles-link` href = link tabindex = '0')
                  span(class = `${BASE_CLASS}__text-name`)= index
                  span(class = `${BASE_CLASS}__text-amount`)= month

