include ../button/button.pug
include ../date/date.pug

mixin article-card(options = {})
  -
    const {
      header = '',
      text = '',
      link = 'http://www.frontendx.ru',
    } = options

    const className = 'article-card'

  article(class = className)
    a(class = `${className}__header-wrapper` href = link)
      h2(class = `${className}__header`)= header
    div(class = `${className}__text`)
      each paragraph in text 
        p(class = ``)= paragraph
    div(class = `${className}__footer`)
      +date({date:'24.05.2022' })
      +button()

