
mixin bread-crumbs()
  -
    const className = 'bread-crumbs'

  div(class = className)
    ol(class = `${className}__markers`)
    ol(class = `${className}__items`)
      -let n = 0
        while n < 17
          li(class = `${className}__item`)
            a(class = `${className}__link` href = 'http://www.frontendx.ru')= `длинное имя ссылки ${n++}/`
      li(class = `${className}__item`)
        span(class = `${className}__link ${className}__link_last`)= `последняя ссылка`



