mixin category-tile(options)
  -
    let header = options.header ?? ''
    let text = options.text ?? ''
    let link = options.link ?? 'http://www.coderr.ru'
    let number = options.number ?? ''
    let modify = options.modify ?? []
    let addClass = options.class ?? ''
    let classComp = 'category-tile'
    let className = classComp
    if(modify){
      for(let item of modify)
    className += ' '+classComp+'_'+item
    }
    if(addClass){
    className += ' '+addClass}
  article(class=className)
    div(class=className+'__blind')
      div(class=className+'__lid')
        div(class=className+'__lid-text')
          span records 
          span='['+number+']'
        div(class=className+'__window')
    div(class=className+'__cover')
      h3(class=className+'__header')
        a(class=className+'__link' href=link)=header
      p(class=className+'__text')
        em=text 
    div(class=className+'__cub-left')
    div(class=className+'__cub-right')

