mixin category-tile(options = {})
  -
    const {
      header='',
      text='',
      link = 'http://www.frontendx.ru',
      number = '',
      modifier = [],
      addClass = '',
    } = options


    let classComponent = 'category-tile'
    let className = classComponent
    if(modifier){
      for(let item of modifier)
    className += ' '+classComponent+'_'+item
    }
    if(addClass){
    className += ' '+addClass}

  article(class=className)
    div(class=className+'__blind-wrap')
      div(class=className+'__blind')
        div(class=className+'__blind-text')
          span records 
          span='['+number+']'
        div(class=className+'__window')
          div(class=className+'__window-disk')
            div(class=className+'__disk')
    div(class=className+'__cover')
      h3(class=className+'__header')
        a(class=className+'__link' href=link)=header
      p(class=className+'__text')
        em=text 
    div(class=className+'__cub-left')
    div(class=className+'__cub-right')

