mixin category-tile(options)
  -
    let header = options.header ?? ''
    let text = options.text ?? ''
    let link = options.link ?? ''
    let number = options.number ?? ''
    let img = options.img ?? ''
    let type = options.type ?? ''
    let modify = options.modify ?? []
    let addClass = options.class ?? ''
    let classComp = 'category-tile'
    let className = classComp
    if(modify){
      for(let item of modify)
    className += ' '+classComp+'_'+item
    }
    if(addClass){
    className += ' '+addClass}
  case type
    when 'category'
      article(class=className)
        h3(class=classComp+'__header')
          a(class=classComp+'__link' href=link)= header
        div(class=classComp+'__wrap-picture')
          img(class=classComp+'__picture' src=require('@com/category-tile/img/'+img+'.svg').default width='200px' height='200px' alt='')
        p(class=classComp+'__text')= text
        p(class=classComp+'__text-number') записей:
          span(class=classComp+'__number')= number
    when 'component'
      article(class=className)
    when 'plugin'
      article(class=className)