mixin header(options)
  -
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let classComp = 'header'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}
  header(class=className)
    div(class=classComp+'__wrapper')
      a(class=classComp+'__link-logo' href='#')
        img(class=classComp+'__logo' src=require('@com/header/img/logo.webp').default alt='FrontEnd X')
      nav(class=classComp+'__menu-wrap')
        ul(class=classComp+'__menu-list' role='navigation')
          li(class=classComp+'__menu-item')
            a(class=classComp+'__item-link' href='https://test/test') Записи
          li(class=classComp+'__menu-item')
            a(class=classComp+'__item-link' href='https://test/test') Плагины
          li(class=classComp+'__menu-item')
            a(class=classComp+'__item-link' href='https://test/test') Компоненты