mixin archive(options = {})
  -
    const {
      years
    } = options

    const link = 'http://www.frontendx.ru'

    const className = 'archive'
  ul(class = className) Архивы
    each year, index in years
      li(class = `${className}__year` tabindex = -1)
        span(class = `${className}__text-wrapper` tabindex = 0)
          span(class = `${className}__text-name`)= index
          span(class = `${className}__text-amount`)= year.total
        ul(class = `${className}__months ${className}__months_visually-hidden`)
          each month, index in year
            if index !='total'
              li(class = `${className}__month`)
                a(class = `${className}__articles-link` href = link tabindex = -1)
                  span(class = `${className}__text-name`)= index
                  span(class = `${className}__text-amount`)= month
