mixin archive(options = {})
  -
    const {
      archive,
    } = options;

    const BASE_CLASS = 'archive';
    
  ol(class = `${BASE_CLASS} js-${BASE_CLASS}`) 
    each item in archive
      li(class = `${BASE_CLASS}__year js-${BASE_CLASS}__year`)
        div(class = `${BASE_CLASS}__text-wrapper js-${BASE_CLASS}__text-wrapper` tabindex = 0 aria-label="Раскрывающийся список")
          span(class = `${BASE_CLASS}__name`)= item.year
          span(class = `${BASE_CLASS}__amount`)= item.total

        ol(class = `${BASE_CLASS}__months js-${BASE_CLASS}__months`)
          each subitem in item.months
              li(class = `${BASE_CLASS}__month`)
                a(class = `${BASE_CLASS}__articles-link` href = "https://change-me")
                  span(class = `${BASE_CLASS}__name`)= subitem.month
                  span(class = `${BASE_CLASS}__amount`)= subitem.total
